/*** 
=============================================
    Contact Form Area Css
=============================================
***/
.main-contact-form-area {
    position: relative;
    display: block;
    background: #ffffff;
    padding: 120px 0 103px;
    z-index: 10;
}



.contact-info-box-1 {
    position: relative;
    display: block;
}

.contact-info-box-1 .img-box {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 19px;
}

.contact-info-box-1 .img-box::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(var(--thm-base-rgb), .50);
    border-radius: 10%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 10;
}

.contact-info-box-1 .img-box:hover::after {
    -webkit-animation: circle .95s;
    animation: circle .95s;
}

.contact-info-box-1 .img-box img {
    width: 100%;
}

.contact-info-box-1 .text {
    position: relative;
    display: block;
    margin-bottom: 15px;
}

.contact-info-box-1 .text p {
    margin: 0;
    font-weight: 500;
}

.contact-info-box-1 ul {
    position: relative;
    display: block;
}

.contact-info-box-1 ul li {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d4dcdb;
    padding-top: 22px;
    padding-bottom: 22px;
}

.contact-info-box-1 ul li:last-child {
    border-bottom: none;
}

.contact-info-box-1 ul li .icon {
    position: relative;
    display: block;
    line-height: 0;
    width: 50px;
}

.contact-info-box-1 ul li .icon span::before {
    color: var(--thm-base);
    font-size: 30px;
    line-height: 30px;
}

.contact-info-box-1 ul li .text {
    position: relative;
    display: block;
    margin-bottom: 0;
}

.contact-info-box-1 ul li .text p {
    color: var(--thm-gray);
    font-weight: 500;
    margin: 0;
}

.contact-info-box-1 ul li .text p a {
    color: var(--thm-black);
    font-weight: 500;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.contact-info-box-1 ul li .text p a:hover {
    color: var(--thm-base);
}

.contact-info-box-1 ul li .text p span {
    color: var(--thm-black);
    font-weight: 500;
}





.contact-style1_form {
    position: relative;
    display: block;
}

.contact-style1_form .row {
    margin-left: -10px;
    margin-right: -10px;
}

.contact-style1_form .row [class*=col-] {
    padding-left: 10px;
    padding-right: 10px;
}



.contact-form {
    position: relative;
    display: block;
}

.contact-form form {
    position: relative;
    display: block;
}

.contact-form form .input-box {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea {
    position: relative;
    display: block;
    background: #edf3f2;
    width: 100%;
    height: 70px;
    border: 1px solid #edf3f2;
    color: #6b767b;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    padding-left: 30px;
    padding-right: 20px;
    border-radius: 5px;
    transition: all 500ms ease;
    font-family: var(--thm-font);
}

.contact-form form textarea {
    height: 250px;
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.contact-form form input[type="text"]::-webkit-input-placeholder {
    color: #6b767b;
}

.contact-form form input[type="text"]:-moz-placeholder {
    color: #6b767b;
}

.contact-form form input[type="text"]::-moz-placeholder {
    color: #6b767b;
}

.contact-form form input[type="text"]:-ms-input-placeholder {
    color: #6b767b;
}

.contact-form form input[type="email"]::-webkit-input-placeholder {
    color: #6b767b;
}

.contact-form form input[type="email"]:-moz-placeholder {
    color: #6b767b;
}

.contact-form form input[type="email"]::-moz-placeholder {
    color: #6b767b;
}

.contact-form form input[type="email"]:-ms-input-placeholder {
    color: #6b767b;
}

.contact-form form textarea::-webkit-input-placeholder {
    color: #6b767b;
}

.contact-form form textarea:-moz-placeholder {
    color: #6b767b;
}

.contact-form form textarea::-moz-placeholder {
    color: #6b767b;
}

.contact-form form textarea:-ms-input-placeholder {
    color: #6b767b;
}


.contact-form form .button-box {
    position: relative;
    display: block;
}

.contact-form form .button-box button {
    position: relative;
    display: block;
}